<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" parallel="methods" thread-count="1">
    <parameter name="" value="" />
    <parameter name="" value="" />
    <parameter name="" value="" />
    <test name="Test">
        <!--<parameter name="browserName" value="chrome" />-->
        <classes>
            <class name="main.RunCucumberFeatures" />
        </classes>
    </test>
</suite>